.post,
        .recommendation {
            display: grid;
            row-gap: 1.5rem
        }

        .nav {
            background: var(--bg-active);
            margin: -24px -24px 0;
            display: flex;
            min-width: 0;
            align-items: center;
            padding: 1rem 1.5rem;
            text-decoration: none
        }

        .back {
            margin-right: 1rem
        }

        .back div {
            width: 9px
        }

        .navTitle {
            color: var(--icon-white);
            margin: 0 auto;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: 14px
        }

        .blogPost,
        .cards {
            display: grid;
            row-gap: 1rem
        }

        .titles {
            display: grid;
            row-gap: .5rem
        }

        .title {
            font-size: 26px;
            line-height: 120%;
            color: var(--title)
        }

        .subtitle {
            font-size: 20px;
            line-height: 120%;
            font-weight: 500;
            color: var(--subtitle)
        }

        .caption,
        .category,
        .meta {
            font-size: 14px;
            color: var(--meta)
        }

        .category {
            font-weight: 500
        }

        .figure {
            text-align: center
        }

        .hero {
            width: auto;
            margin: 0 -24px .5rem
        }

        .body {
            max-width: 100%;
            overflow-x: hidden;
            color: var(--title)
        }

        .readmore {
            font-size: 22px;
            color: var(--title)
        }

        .img {
            border-radius: 6px;
            margin-bottom: 1.5rem
        }

        .p {
            margin-bottom: 1.5rem
        }

        .code {
            background-color: var(--bg-tabs);
            color: var(--icon-white);
            padding: 2px 4px;
            border-radius: 4px;
            white-space: wrap
        }

        .url {
            cursor: pointer;
            color: var(--icon-white);
            font-weight: 600;
            text-decoration: underline
        }

        .url :hover {
            text-decoration: none;
            transition: .2s
        }

        .heading1,
        .heading2,
        .heading3 {
            margin-bottom: 1.5rem
        }

        @media screen and (min-width:540px) {
            .pos {
                row-gap: 2rem
            }
            .hero {
                margin: 0 -3rem
            }
            .nav {
                padding: 1.5rem 2rem;
                margin: -3rem -3rem 0
            }
            .title {
                font-size: 34px
            }
            .subtitle {
                font-size: 24px
            }
            .hero {
                margin-bottom: .6rem
            }
            .caption,
            .category,
            .meta {
                font-size: 16px
            }
            .body {
                font-size: 18px
            }
            .readmore {
                font-size: 24px
            }
        }

        @media screen and (min-width:1024px) {
            .post {
                grid-template-columns: 1fr 2fr;
                grid-template-rows: 1;
                column-gap: 3rem;
                grid-auto-flow: dense
            }
            .blogPost {
                grid-column: 2
            }
            .hero {
                margin: 0 0 .5rem
            }
            .hero div {
                border-radius: 8px
            }
        }