.content,
        .layout{
            display: grid
        }

        .layout {
            row-gap: 2.5rem
        }

        @media screen and (min-width:1024px) {
            .layout {
                grid-template-columns: 1fr 2fr;
                column-gap: 3rem
            }
        }